<a href="https://colab.research.google.com/github/jdmartinezrs/incomesAndBillsProject/blob/main/estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista1 = ['a',10,19,'remove',5]
lista1.append(1000)
print(lista1)

In [ ]:
persona = {'nombre':'david','edad':19}

In [ ]:
amigos = ['david','rojas','martinez','juan','martha']
print(amigos[1])
amigos.pop(4)
amigos.append('elnuevo')
print(amigos)

In [ ]:
#table=[['david','rojas'],[19,10,15],[1999,1000,8888]]
#print(table)

#table[1][2]=22222
#print(table)

#for fila in table:
#  print(table)

estudiantes = [['david','martinez','rojas',19,'excelente'],['camila','andrea','navas',20,'aceptable'],['laura','andres',23,'deficiente']]
print (estudiantes[1][3])
estudiantes[2][3]='Sobresaliente'
print(estudiantes)

#imprime la edad del segundo estudiante y cambia la calificacion del tercero

In [ ]:
#diccionarios
dictionary={'key1':'value1','key2':'value2','key3':'value3'}
print(dictionary['key1'])
print(dictionary['key2'])
dictionary['key3']=1000
print(dictionary)
dictionary['key4']=19000
print(dictionary)

# Ejercicios

In [ ]:
#Ejercicios
actividades=['comer','trabajar','dormir','viajar','estudiar']
tableactivities = [['comer',1,True],['trabajar',6,True],['dormir',7,True],['viajar',2,True],['estudiar',5,True]]



for table in tableactivities:
  print(table)
tableactivities[1][1]=5
print(tableactivities)

In [ ]:
#peliculas

movies=[{'name':'scaryMovie','year':1995,'genre':'comedy','duration':'hora15min'},
        {'name':'shrek','year':1995,'genre':'comedy','duration':'2:30min'},
        {'name':'shark','year':1990,'genre':'Drama','duration':'2:45min'}
]

print(movies[1]['name'])
movies[0]['director']='pixar'
print(movies)

for movie in movies:
  print(movie['name'])

shrek
[{'name': 'scaryMovie', 'year': 1995, 'genre': 'comedy', 'duration': 'hora15min', 'director': 'pixar'}, {'name': 'shrek', 'year': 1995, 'genre': 'comedy', 'duration': '2:30min'}, {'name': 'shark', 'year': 1990, 'genre': 'Drama', 'duration': '2:45min'}]
scaryMovie
shrek
shark

In [ ]:
#1
integer_numbers=[5,10,15,20,25]
square_of_a_number={5:25,10:100,20:400,25:625}

#2
students=[['Daniela',80,'apobado'],['Martin',70,'aprobado'],['juan',50,'reprobado']]

#3
favorite_book={'titulo:':'contemporaryArt ','clasificacion:':'Art','year:':2005}
for book,favorite in favorite_book.items():
  print(book,favorite)

for favorite in favorite_book.keys():
  print(favorite)

for fav in favorite_book.items():
  print(fav)

for val in favorite_book.values():
  print(val)

for favorite in favorite_book.values():
  print(favorite)
print("El nombre de mi libro favorito es",favorite_book['titulo:'])

titulo: contemporaryArt
clasificacion: Art
year: 2005
titulo:
clasificacion:
year:
('titulo:', 'contemporaryArt ')
('clasificacion:', 'Art')
('year:', 2005)
contemporaryArt
Art
2005
contemporaryArt
Art
2005
El nombre de mi libro favorito es contemporaryArt

Actividades Diarias

In [ ]:
Actividades = []
Precio = []
Cantidad = []
Total = []

n = int(input('cuantas actividades vas a realizar en el dia:'))
for i in range(n):
    print(f"Actividad {i+1}")

    act = input('Ingrese la actividad: ')
    prec = float(input('Ingrese el precio: '))
    cant = int(input('Ingrese la cantidad: '))
    total = prec * cant

    Actividades.append(act)
    Precio.append(prec)
    Cantidad.append(cant)
    Total.append(total)


#creacion tablas
print('\n PRESUPUESTO DEL DIA')
print(f"{'Actividad':<20}'{'Precio':<10}'{'Cantidad':<15}'{'Total':<10}")
print("_"*60)

for i in range(n):
  print(f"{Actividades[i]:<20}'{Precio[i]:<10.2f}'{Cantidad[i]:<15}'{Total[i]:<10.2f}")

Totales = sum(Total)
print("_"*60)
print(f"{'Totales':<20}'{Totales:<10.2f}'")

cuantas actividades vas a realizar en el dia:5
Actividad 1
Ingrese la actividad: comer
Ingrese el precio: 10.000
Ingrese la cantidad: 1
Actividad 2
Ingrese la actividad: bailar
Ingrese el precio: 10000
Ingrese la cantidad: 1
Actividad 3
Ingrese la actividad: transporte
Ingrese el precio: 5
Ingrese la cantidad: 2
Actividad 4
Ingrese la actividad: comida
Ingrese el precio: 20000
Ingrese la cantidad: 3
Actividad 5
Ingrese la actividad: producto aseo
Ingrese el precio: 7000
Ingrese la cantidad: 4

 PRESUPUESTO DEL DIA
Actividad           'Precio    'Cantidad       'Total
____________________________________________________________
comer               '10.00     '1              '10.00
bailar              '10000.00  '1              '10000.00
transporte          '5.00      '2              '10.00
comida              '20000.00  '3              '60000.00
producto aseo       '7000.00   '4              '28000.00
____________________________________________________________
Totales             '98020.00  '

In [1]:
list=[1,2,3,4,5,6,7,8,9,0]

for i in range(1,4):
  print(i)

1
2
3

In [2]:
num1 = float(input('Ingrese el primer numero: '))
num2 = float(input('Ingrese el segundo numero:'))
suma = num1 + num2

print("El resultado de la suma es: ",suma)

Ingrese el primer numero: 8
Ingrese el segundo numero:2
10

In [9]:
numeros = []
num1 = int(input('Ingrese el primer numero:'))
num2 = int(input('Ingrese el segundo numero:'))
num3 = int(input('Ingrese el tercer numero:'))

numeros.append(num1)
numeros.append(num2)
numeros.append(num3)

print("el numero mayor es:",max(numeros))

for i in range(3):
  print(numeros[i])

Ingrese el primer numero:12
Ingrese el segundo numero:34
Ingrese el tercer numero:45
el numero mayor es: 45
12
34
45

In [7]:
a = int(input('Ingrese el primer numero:'))
b = int(input('Ingrese el segundo numero:'))
c = int(input('Ingrese el tercer numero:'))

if a>b and a>c:
  print('El numero mayor es:',a)
elif b>c:
  print('El numero mayor es:',b)
else:
  print('El numero mayor es:',c)

Ingrese el primer numero:89
Ingrese el segundo numero:19
Ingrese el tercer numero:90
El numero mayor es: 90

In [48]:
#tuplas
days_of_the_week = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
print(days_of_the_week[2])
days_of_the_week.index('Wednesday')

def weekend ():
  print(days_of_the_week[4])
  party='partyday'
  days_of_the_week.append(party)
weekend()

Wednesday
Friday

In [42]:
repited_numbers = (3,5,3,3,3)
repetidos=repited_numbers.count(3)
print(repetidos)
print(repited_numbers.count(3))

repited_letter = ('a','b','c','a','a')
print(repited_letter.count('a'))


def count_repited_numbers():
  print(repited_numbers.count(5))
count_repited_numbers()

4
4
3
1

In [41]:
fruits=['apple','orange','grape']
print(fruits[1])
fruits.extend(['sandia','kiwi'])
fruits.remove('apple')
print(fruits)

for i in range(0,3):
  print(fruits[i])

for i in fruits[1]:
  print(i)

def fruits_list():
  for fruit in fruits[3]:
    print(fruit)
fruits_list()

fruits_list()

def extend_list():
  fruits.extend(['pera','maracuya'])
  print(fruits)
extend_list()

orange
['orange', 'grape', 'sandia', 'kiwi']
orange
grape
sandia
g
r
a
p
e
k
i
w
i
k
i
w
i
['orange', 'grape', 'sandia', 'kiwi', 'pera', 'maracuya']

In [50]:
#muestra posicion [1][1]
table=[[1,2,3,4],[5,6,7,8]]

def show_numbers():
  print(table[1][1])
show_numbers()

6

In [65]:
newtable=[['uno','dos','tres'],[1,2,3],['siete','ocho','nueve']]

def modify():
  newtable[1]=['cuatro','cinco','seis']
  print(newtable)
  print(newtable[1])
  for i in range(len(newtable)):
    print(newtable[i][0])
modify()

for i in range(3):
  print(newtable[i][0])

for i in range(3):
  print(newtable[i][2])

[['uno', 'dos', 'tres'], ['cuatro', 'cinco', 'seis'], ['siete', 'ocho', 'nueve']]
['cuatro', 'cinco', 'seis']
uno
cuatro
siete
uno
cuatro
siete
tres
seis
nueve

Conjuntos de datos

In [68]:
#conjunto

conjunto = {1,2,3}
conjunto2 = {3,4,5}
diferencia = conjunto - conjunto2
diferencia2 = conjunto2 - conjunto
print(diferencia)
print(diferencia2)
#lo que le falta al conjunto dos para ser igual al 1

{1, 2}
{4, 5}

In [85]:
conjunto_ejercicio = {1,2,3}
conjunto_ejercicio.add(4)
print(conjunto_ejercicio)

conjunto_adicional = {4,5,6}
interseccion = conjunto_adicional & conjunto_ejercicio
print(interseccion)

union = conjunto_adicional | conjunto_ejercicio
print(union)

{1, 2, 3, 4}
{4}
{1, 2, 3, 4, 5, 6}