<a href="https://colab.research.google.com/github/jdmartinezrs/incomesAndBillsProject/blob/main/estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista1 = ['a',10,19,'remove',5]
lista1.append(1000)
print(lista1)

In [ ]:
persona = {'nombre':'david','edad':19}

In [ ]:
amigos = ['david','rojas','martinez','juan','martha']
print(amigos[1])
amigos.pop(4)
amigos.append('elnuevo')
print(amigos)

In [ ]:
#table=[['david','rojas'],[19,10,15],[1999,1000,8888]]
#print(table)

#table[1][2]=22222
#print(table)

#for fila in table:
#  print(table)

estudiantes = [['david','martinez','rojas',19,'excelente'],['camila','andrea','navas',20,'aceptable'],['laura','andres',23,'deficiente']]
print (estudiantes[1][3])
estudiantes[2][3]='Sobresaliente'
print(estudiantes)

#imprime la edad del segundo estudiante y cambia la calificacion del tercero

In [ ]:
#diccionarios
dictionary={'key1':'value1','key2':'value2','key3':'value3'}
print(dictionary['key1'])
print(dictionary['key2'])
dictionary['key3']=1000
print(dictionary)
dictionary['key4']=19000
print(dictionary)

In [ ]:
#Ejercicios
actividades=['comer','trabajar','dormir','viajar','estudiar']
tableactivities = [['comer',1,True],['trabajar',6,True],['dormir',7,True],['viajar',2,True],['estudiar',5,True]]

for table in tableactivities:
  print(table)
tableactivities[1][1]=5
print(tableactivities)

# Ejercicios

In [ ]:
#peliculas

movies=[{'name':'scaryMovie','year':1995,'genre':'comedy','duration':'hora15min'},
        {'name':'shrek','year':1995,'genre':'comedy','duration':'2:30min'}
]

print(movies[1]['name'])
movies[0]['director']='pixar'
print(movies)

In [ ]:
#1
integer_numbers=[5,10,15,20,25]
square_of_a_number={5:25,10:100,20:400,25:625}

#2
students=[['Daniela',80,'apobado'],['Martin',70,'aprobado'],['juan',50,'reprobado']]

#3
favorite_book={'titulo:':'contemporaryArt ','clasificacion:':'Art','year:':2005}
for book,favorite in favorite_book.items():
  print(book,favorite)

print(favorite_book['titulo:'])