<a href="https://colab.research.google.com/github/jdmartinezrs/incomesAndBillsProject/blob/main/Mision1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Importación dataset control maquinaria
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/datasets mision1/controlmaquinaria.xlsx")
df.shape

(70, 41)

In [4]:
#DatasetControl maquinaria
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,CONTROL DE FLOTA DE TRANSPORTES,NaN,NaN,FECHA ACTUAL,NaN,NaN,NaN,"CONTROL DE MAQUINARIA, VEHICULOS Y CONDUCTORES...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2025-05-21 00:00:00,NaN,NaN,NaN,Revision: 04,Fecha de Revision: 30 abril de 2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Item,Codigo,Placa,Tipo Vehiculo,Marca,Año,Linea,Propietario,Conductor,...,AlertaPG,EstadoPG,Vigencia Extintor,Alerta Extintor,Estado Extintor,Otros Permisos,Vigencia Otros,GPS,Observaciones,Columna1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,61,VE-TB-HY-WGA173,WGA173,TURBO,HYUNDAI,2014,HD65,PAVIMENTOS ANDINOS S.A,CASTILLA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SATRACK,NaN,NaN
66,NaN,62,VE-TB-MD-TBK246,TBK246,TURBO,MAZDA,2000,T 45,PAVIMENTOS ANDINOS S.A,SIN CONDUCTOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SIN GPS,NaN,NaN
67,NaN,63,VE-VE-RE-HHP403,HHP403,VEHICULO,RENAULT,2016,CLIO STYLE,PAVIMENTOS ANDINOS S.A,CASTILLA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SATRACK,NaN,NaN
68,NaN,64,VE-VE-RE-MUZ920,MUZ920,VEHICULO,RENAULT,2014,LOGAN EXPRESSION,PAVIMENTOS ANDINOS S.A,CASTILLA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SATRACK,NaN,NaN
69,NaN,65,VE-VS-CH-TAV332,TAV332,VOLQUETA SENCILLA,CHEVROLET,2012,FVR,MGAG,MARLON MARTINEZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SATRACK,NaN,NaN

In [45]:
#Dataset de mantenimiento
import pandas as pd
dt = pd.read_excel("/content/drive/MyDrive/datasets mision1/mantenimiento.xlsm")
dt.shape

(57, 17)

In [46]:
#Dataset de mantenimiento
dt

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,CRONOGRAMA DE MANTENIMIENTOS PREVENTIVOS DE PROYECTOS Y CONSTRUCCIONES ANDINOS SA\nF-73,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,2025-05-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,NaN,#REF!,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,NaN,NaN,MANTENIMIENTO DE LUBRICACION MOTOR y REVISION ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,Fecha,ITEM,CODIGO DE EQUIPO,Tipo de Vehiculo,fecha de revision,Km/ Hr Plan,Fecha Ult Pre-Operacional,Dias Pend,Ult Km/Hr,Km/Hr Cambio,Fecha Cambio,Fecha Prox Cambio,NaT,Km/Hr Proyectada,Km/Hr Pend,Progreso,Observaciones
5,NaN,1,VE-DT-CH-XMD284,CARRO TANQUE,2025-05-21 00:00:00,10000,2025-05-20 00:00:00,1,320832,316580,2024-06-21 00:00:00,2025-01-17 00:00:00,2025-08-15,326580,5748,0.5748,NaN
6,NaN,2,VE-DT-FL-XMD588,DOBLETROQUE,2025-05-21 00:00:00,10000,2023-09-21 00:00:00,608,209543,199850,2023-07-11 00:00:00,NaN,NaT,209850,307,0.0307,NaN
7,NaN,3,VE-DT-FL-SUE755,DOBLETROQUE,2025-05-21 00:00:00,8000,2025-05-20 00:00:00,1,431842,429813,2025-03-12 00:00:00,2025-10-08 00:00:00,2026-05-06,437813,5971,0.746375,NaN
8,2025-05-21 11:57:03.744000,4,VE-DT-FL-WFD547,DOBLETROQUE,2025-05-21 00:00:00,10000,2025-05-20 00:00:00,1,269735,263671,2025-01-30 00:00:00,2025-08-28 00:00:00,2026-03-26,273671,3936,0.3936,NaN
9,2025-05-21 11:57:03.744000,5,VE-DT-IN-TAV909,DOBLETROQUE,2025-05-21 00:00:00,10000,2025-05-20 00:00:00,1,288404,287932,2024-11-27 00:00:00,2025-06-25 00:00:00,2026-01-21,297932,9528,0.9528,NaN
10,2025-05-21 11:57:03.744000,6,VE-DT-IN-TAW674,DOBLETROQUE,2025-05-21 00:00:00,12000,2024-05-15 00:00:00,371,86614,76403,2024-01-03 00:00:00,NaN,NaT,88403,1789,0.149083,NaN
11,2025-05-21 11:57:03.744000,7,VE-DT-IN-TAW675,DOBLETROQUE,2025-05-21 00:00:00,12000,2024-07-25 00:00:00,300,357846,357292,2024-07-17 00:00:00,NaN,NaT,369292,11446,0.953833,PROBLEMAS CON POLIZA
12,2025-05-21 11:57:03.744000,8,VE-DT-IN-TAW676,DOBLETROQUE,2025-05-21 00:00:00,12000,2024-04-20 00:00:00,396,375905,376257,2024-06-06 00:00:00,NaN,NaT,388257,12352,1.029333,NaN
13,2025-05-21 11:57:03.744000,9,VE-DT-IN-TAW677,DOBLETROQUE,2025-05-21 00:00:00,10000,2025-01-31 00:00:00,110,423682,420716,2024-10-16 00:00:00,2025-05-14 00:00:00,2025-12-10,430716,7034,0.7034,NaN
14,2025-05-21 11:57:03.744000,10,VE-DT-IN-TAW678,DOBLETROQUE,2025-05-21 00:00:00,12000,2024-07-25 00:00:00,300,382408,376083,2024-04-25 00:00:00,NaN,NaT,388083,5675,0.472917,NaN
15,2025-05-21 11:57:03.744000,11,VE-DT-IN-TTR442,DOBLETROQUE,2025-05-21 00:00:00,10000,2025-05-20 00:00:00,1,382572,376587,2025-02-17 00:00:00,2025-09-15 00:00:00,2026-04-13,386587,4015,0.4015,NaN
16,2025-05-21 11:57:03.744000,12,VE-DT-IN-WFC325,DOBLETROQUE,2025-05-21 00:00:00,12000,2024-04-29 00:00:00,387,149356,149405,2024-06-06 00:00:00,NaN,NaT,161405,12049,1.004083,NaN
17,2025-05-21 11:57:03.744000,13,VE-DT-IN-WFC326,DOBLETROQUE,2025-05-21 00:00:00,12000,2024-05-16 00:00:00,370,341242,341248,2024-05-21 00:00:00,NaN,NaT,353248,12006,1.0005,NaN
18,2025-05-21 11:57:03.744000,14,VE-DT-IN-WFC327,DOBLETROQUE,2025-05-21 00:00:00,10000,2025-05-20 00:00:00,1,342515,337120,2025-02-28 00:00:00,2025-09-26 00:00:00,2026-04-24,347120,4605,0.4605,NaN
19,2025-05-21 11:57:03.744000,15,VE-DT-KW-TAX535,DOBLETROQUE,2025-05-21 00:00:00,10000,2024-09-23 00:00:00,240,266386,266041,2024-09-16 00:00:00,2025-04-14 00:00:00,2025-11-10,276041,9655,0.9655,NaN
20,2025-05-21 11:57:03.744000,16,VE-DT-KW-TAX539,DOBLETROQUE,2025-05-21 00:00:00,10000,2024-11-15 00:00:00,187,296183,293270,2024-08-02 00:00:00,2025-02-28 00:00:00,2025-09-26,303270,7087,0.7087,NaN
21,2025-05-21 11:57:03.744000,17,VE-DT-KW-TAX540,DOBLETROQUE,2025-05-21 00:00:00,10000,2025-04-21 00:00:00,30,275878,271341,2025-02-03 00:00:00,2025-09-01 00:00:00,2026-03-30,281341,5463,0.5463,NaN
22,2025-05-21 11:57:03.744000,18,VE-DT-KW-TTS952,DOBLETROQUE,2025-05-21 00:00:00,10000,2025-05-16 00:00:00,5,282981,276462,2025-01-23 00:00:00,2025-08-21 00:00:00,2026-03-19,286462,3481,0.3481,NaN
23,2025-05-21 11:57:03.744000,19,VE-DT-FL-SOZ243,DOBLETROQUE,2025-05-21 00:00:00,10000,2025-05-20 00:00:00,1,283685,282845,2024-07-05 00:00:00,2025-01-31 00:00:00,2025-08-29,292845,9160,0.916,NaN
24,2025-05-21 11:57:03.744000,20,VE-GR-FO-WFG316,GRUA,2025-05-21 00:00:00,5000,2025-05-20 00:00:00,1,149068,146837,2025-01-20 00:00:00,2025-05-10 00:00:00,2025-12-06,151837,2769,0.5538,trienergy
25,2025-05-21 11:57:03.744000,21,VE-TB-MD-TBK246,IRRIGADOR,2025-05-21 00:00:00,5000,2025-02-27 00:00:00,83,1710,1710,2025-02-27 00:00:00,2025-06-17 00:00:00,2026-01-13,6710,5000,1,NaN
26,NaN,22,VE-TM-FL-XMC858,TRACTOCAMION,2025-05-21 00:00:00,8000,2024-09-23 00:00:00,240,390947,382518,2024-01-09 00:00:00,2024-08-06 00:00:00,2025-03-04,390518,-429,-0.053625,motoreste
27,NaN,23,VE-TM-HN-SRO974,TRACTOCAMION,2025-05-21 00:00:00,12000,2025-05-15 00:00:00,6,9539,9539,2025-05-15 00:00:00,2025-12-11 00:00:00,2026-07-09,21539,12000,1,la 61
28,NaN,24,VE-TM-FL-SVO546,TRACTOCAMION,2025-05-21 00:00:00,12000,2025-04-10 00:00:00,41,1040222,1036777,2025-02-28 00:00:00,2025-09-26 00:00:00,2026-04-24,1048777,8555,0.712917,NaN
29,2025-05-21 11:57:03.744000,25,VE-TB-CH-SRL418,TURBO,2025-05-21 00:00:00,6000,2025-05-20 00:00:00,1,514720,512219,2025-04-16 00:00:00,2025-11-12 00:00:00,2026-06-10,518219,3499,0.583167,NaN
30,2025-05-21 11:57:03.744000,26,VE-TB-CH-SUF310,TURBO,2025-05-21 00:00:00,6000,2025-02-28 00:00:00,82,273113,269523,2024-12-06 00:00:00,2025-07-04 00:00:00,2026-01-30,275523,2410,0.401667,NaN
31,2025-05-21 11:57:03.744000,27,VE-TB-HY-WGA173,TURBO,2025-05-21 00:00:00,7000,2024-04-25 00:00:00,391,194055,193329,2024-02-02 00:00:00,NaN,NaT,200329,6274,0.896286,NaN
32,2025-05-21 11:57:03.744000,28,VE-TB-CH-SUF685,TURBO,2025-05-21 00:00:00,7000,2024-02-15 00:00:00,461,419300,418965,2022-09-23 00:00:00,NaN,NaT,425965,6665,0.952143,NaN
33,NaN,29,VE-TB-CH-TAX650,TURBO,2025-05-21 00:00:00,6000,2025-05-20 00:00:00,1,312153,309621,2025-03-04 00:00:00,2025-09-30 00:00:00,2026-04-28,315621,3468,0.578,NaN
34,NaN,30,VE-TB-FT-WOM542,TURBO,2025-05-21 00:00:00,7000,2024-04-10 00:00:00,406,66157,63142,2024-02-05 00:00:00,NaN,NaT,70142,3985,0.569286,NaN
35,2025-05-21 11:57:03.744000,31,VE-VS-CH-TAV332,VOLQ SENCILLA,2025-05-21 00:00:00,10000,2025-05-20 00:00:00,1,230889,228434,2025-04-09 00:00:00,2025-11-05 00:00:00,2026-06-03,238434,7545,0.7545,NaN
36,2025-05-21 11:57:03.744000,32,VE-VS-VV-EYY234,VOLQ SENCILLA,2025-05-21 00:00:00,10000,2025-05-19 00:00:00,2,NaN,NaN,NaN,NaN,NaT,10000,10000,1,NaN
37,2025-05-21 11:57:03.744000,32,VE-TM-FL-WFL031,TRACTOCAMION,2025-05-21 00:00:00,12000,2025-05-19 00:00:00,2,658949,658949,2025-04-15 00:00:00,2025-11-11 00:00:00,NaT,670949,12000,1,NaN
38,2025-05-21 11:57:03.744000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
39,2025-05-21 11:57:03.744000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
40,2025-05-21 11:57:03.744000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
41,2025-05-21 11:57:03.744000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,2025-05-19 00:00:00,NaN,7459,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,2025-05-19 00:00:00,NaN,6795,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [87]:
from sklearn.linear_model import LinearRegression
import numpy as np

In [64]:
dt = pd.read_excel("/content/drive/MyDrive/datasets mision1/mantenimiento.xlsm", header=5)

In [81]:
print(dt.head(2))

  Fecha  ITEM CODIGO DE EQUIPO Tipo de Vehiculo fecha de revision  \
0   NaT   1.0  VE-DT-CH-XMD284     CARRO TANQUE        2025-05-21
1   NaT   2.0  VE-DT-FL-XMD588      DOBLETROQUE        2025-05-21

   Km/ Hr Plan Fecha Ult Pre-Operacional  Dias Pend  Ult Km/Hr  Km/Hr Cambio  \
0      10000.0                2025-05-20        1.0   320832.0      316580.0
1      10000.0                2023-09-21      608.0   209543.0      199850.0

  Fecha Cambio Fecha Prox Cambio Unnamed: 12  Km/Hr Proyectada  Km/Hr Pend  \
0   2024-06-21        2025-01-17  2025-08-15          326580.0      5748.0
1   2023-07-11               NaT         NaT          209850.0       307.0

   Progreso Observaciones
0    0.5748            NaN
1    0.0307            NaN

In [91]:
from sklearn.impute import SimpleImputer
import numpy as np

# Create an imputer that replaces NaN with the mean of the column
# You can choose other strategies like 'median' or 'most_frequent'
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Fit the imputer to the data and transform the columns
dt['Km/Hr Pend'] = imputer.fit_transform(dt[['Km/Hr Pend']])
dt['Ult Km/Hr'] = imputer.fit_transform(dt[['Ult Km/Hr']])

# Now define y and x using the imputed data
y = dt['Km/Hr Pend'].values.reshape(-1, 1)
x = dt['Ult Km/Hr'].values.reshape(-1, 1)

# Proceed with your LinearRegression model
model = LinearRegression()
model.fit(x, y)

# Print coefficients, make predictions, etc.
print("Coeficiente:", model.coef_)
print("Intercepción:", model.intercept_)

Coeficiente: [[0.00312893]]
Intercepción: [5427.17926385]

**Coeficiente: [[0.00312893]]**

Este valor (0.00312893) representa la pendiente de la línea de regresión.
Significa que, por cada aumento de una unidad en Ult Km/Hr, se espera un aumento de aproximadamente 0.00312893 unidades en Km/Hr Pend.
En el contexto de tu data, esto sugiere una relación lineal positiva, aunque pequeña. A medida que los kilómetros/horas registrados (Ult Km/Hr) aumentan, los kilómetros/horas pendientes (Km/Hr Pend) tienden a aumentar ligeramente.

**Intercepción: [5427.17926385]**

Este valor (5427.17926385) representa el punto donde la línea de regresión cruza el eje Y (cuando x es igual a 0).
En este caso, cuando Ult Km/Hr es 0, se espera que Km/Hr Pend sea aproximadamente 5427.18.
Sin embargo, es importante ser cauteloso con la interpretación de la intercepción si un valor de Ult Km/Hr de 0 no tiene sentido en el contexto de tus datos (por ejemplo, si nunca tienes un vehículo con 0 Kilómetros/Horas registrados). A veces, la intercepción es más un ajuste matemático para la línea de regresión.

In [93]:
# Define the coefficients and intercept from your model
coeficiente = 0.00312893
intercepcion = 5427.17926385

In [94]:
# Define a variable for the input value (Ult Km/Hr)
# Replace 'some_ult_km_hr_value' with the actual value you want to predict for
ult_km_hr_value = 300000  # Example value

# Calculate the predicted Km/Hr Pend using the equation
km_hr_pend_predicho = (coeficiente * ult_km_hr_value) + intercepcion

# Print the predicted value
print("Km/Hr Pend predicho:", km_hr_pend_predicho)

Km/Hr Pend predicho: 6365.85826385

El resultado Km/Hr Pend predicho: 6365.85826385 significa que, según tu modelo de regresión lineal, para un vehículo con 300,000 Kilómetros/Horas registrados (Ult Km/Hr), la cantidad esperada de Kilómetros/Horas pendientes (Km/Hr Pend) es aproximadamente 6365.86.

Contexto: La interpretación de este valor debe hacerse dentro del contexto de tus datos y lo que representan Km/Hr Pend y Ult Km/Hr. Si Km/Hr Pend indica cuánto falta para un próximo mantenimiento, entonces la predicción sugiere que un vehículo con 300,000 Km/Hr tiene aproximadamente 6365.86 Km/Hr restantes antes de su próximo mantenimiento.

In [75]:
print(dt[['Tipo de Vehiculo', 'fecha de revision']])

   Tipo de Vehiculo fecha de revision
0      CARRO TANQUE        2025-05-21
1       DOBLETROQUE        2025-05-21
2       DOBLETROQUE        2025-05-21
3       DOBLETROQUE        2025-05-21
4       DOBLETROQUE        2025-05-21
5       DOBLETROQUE        2025-05-21
6       DOBLETROQUE        2025-05-21
7       DOBLETROQUE        2025-05-21
8       DOBLETROQUE        2025-05-21
9       DOBLETROQUE        2025-05-21
10      DOBLETROQUE        2025-05-21
11      DOBLETROQUE        2025-05-21
12      DOBLETROQUE        2025-05-21
13      DOBLETROQUE        2025-05-21
14      DOBLETROQUE        2025-05-21
15      DOBLETROQUE        2025-05-21
16      DOBLETROQUE        2025-05-21
17      DOBLETROQUE        2025-05-21
18      DOBLETROQUE        2025-05-21
19             GRUA        2025-05-21
20        IRRIGADOR        2025-05-21
21     TRACTOCAMION        2025-05-21
22     TRACTOCAMION        2025-05-21
23     TRACTOCAMION        2025-05-21
24            TURBO        2025-05-21
25            TURBO        2025-05-21
26            TURBO        2025-05-21
27            TURBO        2025-05-21
28            TURBO        2025-05-21
29            TURBO        2025-05-21
30    VOLQ SENCILLA        2025-05-21
31     TRACTOCAMION        2025-05-21
32              NaN               NaT
33              NaN               NaT
34              NaN               NaT
35              NaN               NaT

In [73]:
print(dt['CODIGO DE EQUIPO'])

0     VE-DT-CH-XMD284
1     VE-DT-FL-XMD588
2     VE-DT-FL-SUE755
3     VE-DT-FL-WFD547
4     VE-DT-IN-TAV909
5     VE-DT-IN-TAW674
6     VE-DT-IN-TAW675
7     VE-DT-IN-TAW676
8     VE-DT-IN-TAW677
9     VE-DT-IN-TAW678
10    VE-DT-IN-TTR442
11    VE-DT-IN-WFC325
12    VE-DT-IN-WFC326
13    VE-DT-IN-WFC327
14    VE-DT-KW-TAX535
15    VE-DT-KW-TAX539
16    VE-DT-KW-TAX540
17    VE-DT-KW-TTS952
18    VE-DT-FL-SOZ243
19    VE-GR-FO-WFG316
20    VE-TB-MD-TBK246
21    VE-TM-FL-XMC858
22    VE-TM-HN-SRO974
23    VE-TM-FL-SVO546
24    VE-TB-CH-SRL418
25    VE-TB-CH-SUF310
26    VE-TB-HY-WGA173
27    VE-TB-CH-SUF685
28    VE-TB-CH-TAX650
29    VE-TB-FT-WOM542
30    VE-VS-CH-TAV332
31    VE-TM-FL-WFL031
32                NaN
33                NaN
34                NaN
35                NaN
Name: CODIGO DE EQUIPO, dtype: object

In [51]:
data = pd.DataFrame(dt)
for i in range(1, 2):
  print(dt.iloc[0])

Unnamed: 0                                                                               Fecha
Unnamed: 1                                                                                ITEM
MANTENIMIENTO DE LUBRICACION MOTOR y REVISION DE FALLAS GENERALES             CODIGO DE EQUIPO
Unnamed: 3                                                                    Tipo de Vehiculo
Unnamed: 4                                                                   fecha de revision
Unnamed: 5                                                                         Km/ Hr Plan
Unnamed: 6                                                           Fecha Ult Pre-Operacional
Unnamed: 7                                                                           Dias Pend
Unnamed: 8                                                                           Ult Km/Hr
Unnamed: 9                                                                        Km/Hr Cambio
Unnamed: 10                                                                       Fecha Cambio
Unnamed: 11                                                                  Fecha Prox Cambio
Unnamed: 12                                                                                NaT
Unnamed: 13                                                                   Km/Hr Proyectada
Unnamed: 14                                                                         Km/Hr Pend
Unnamed: 15                                                                           Progreso
Unnamed: 16                                                                     Observaciones
Name: 0, dtype: object

In [19]:
df = pd.read_excel("/content/drive/MyDrive/datasets mision1/controlmaquinaria.xlsx", header=4)

In [22]:
df.dropna(how='all', inplace=True)

In [40]:
datos = pd.DataFrame(df)
#for i in range(1, 3):
print(df.iloc[0])
#print(df.iloc[0:3])
#print(df.loc[0, ['Marca', 'Año']])

#print(df.iloc[0, [0,1,2,3,4,5,6,7,8,9,10,11,12,13]])

Unnamed: 0                                                   NaN
Unnamed: 1                                                  Item
Unnamed: 2                                                Codigo
Unnamed: 3                                                 Placa
2025-05-21 00:00:00                                Tipo Vehiculo
Unnamed: 5                                                 Marca
Unnamed: 6                                                   Año
Unnamed: 7                                                 Linea
Revision: 04                                         Propietario
Fecha de Revision: 30 abril de 2025                    Conductor
Unnamed: 10                                   Ubicación/Proyecto
Pagina 1 de 1                                   Proveedor Poliza
Unnamed: 12                                            Poliza TR
Unnamed: 13                                            Poliza RC
Unnamed: 14                                         Costo Poliza
Unnamed: 15                                      Vigencia Poliza
Unnamed: 16                                        Alerta Poliza
Unnamed: 17                                        Estado Poliza
Unnamed: 18                                        Vigencia SOAT
Unnamed: 19                                          Alerta SOAT
Unnamed: 20                                          Estado SOAT
Unnamed: 21                                         Vigencia RTM
Unnamed: 22                                           Alerta RTM
Unnamed: 23                                           Estado RTM
Unnamed: 24                            Vigencia Permisos-C&D P&P
Unnamed: 25                              Alerta Permisos C&D P&P
Unnamed: 26                                               Estado
Unnamed: 27                             Vigencia Permiso Florida
Unnamed: 28                               Alerta Permiso Florida
Unnamed: 29                               Estado Permiso Florida
Unnamed: 30                                   Vigencia Per/Giron
Unnamed: 31                                             AlertaPG
Unnamed: 32                                             EstadoPG
Unnamed: 33                                    Vigencia Extintor
Unnamed: 34                                      Alerta Extintor
Unnamed: 35                                      Estado Extintor
Unnamed: 36                                       Otros Permisos
Unnamed: 37                                       Vigencia Otros
Unnamed: 38                                                  GPS
Unnamed: 39                                        Observaciones
Unnamed: 40                                             Columna1
Name: 0, dtype: object

una variable dependiente (y) que queremos predecir, y variables independientes (x) que usaremos para hacer la predicción.